<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style type="text/css" media="all"></style>
    <link rel="stylesheet" type="text/css" th:href="@{style.css}"/>
    <title>Title</title>
</head>
<body>

<form method="get">
    <p style="text-align:center">
    <h3>Enter link (example hi-news.ru)</h3>
    <span style="font-size:16px">
        <input maxlength="500" name="Link" size="50" type="text" th:value="${Link}"/>
    </span>
    </p>
</form>

<form method="post">
    <input type="submit" value="Index" onclick="form.action=getLink();">
</form>

</body>
<script>
    function getLink() {
        return '/index?Link=' + addhttp(document.getElementsByName("Link")[0].value);
    }
</script>
<script>
    function addhttp(url) {
        if (!/^(?:f|ht)tps?\:\/\//.test(url)) {
            url = "https://" + url;
        }
        return url;
    }
</script>
</html>