<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style type="text/css" media="all"></style>
    <link rel="stylesheet" type="text/css" th:href="@{style.css}"/>
</head>
<title>INDEXING LINK</title>
</head>
<body>
<div>
    <h3 th:text="${Link}"></h3>
    <h3 th:text="${message}"></h3>
</div>
<form method="get">
    <input type="submit" value="Next" onclick="form.action='/';">
</form>
</body>
</html>