<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style type="text/css" media="all"></style>
    <link rel="stylesheet" type="text/css" th:href="@{style.css}"/>
</head>
<title>Search</title>
</head>
<body>

<form method="get">
    <p style="text-align:center">
    <h3>Enter query you want to search (example человек)</h3>
    <span style="font-size:16px">
        <input maxlength="500" name="query" size="50" type="text" th:value="${query}"/>
    </span>
    </p>
</form>

<form method="post">
    <input type="submit" value="Search" onclick="form.action=getQuery();">
</form>
</body>
<script>
    function getQuery() {
        return '/search?query=' + document.getElementsByName("query")[0].value;
    }
</script>
</html>