<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of Items</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <style type="text/css" media="all"></style>
    <link rel="stylesheet" type="text/css" th:href="@{style.css}"/>
</head>
<body>
<div class="center">
    <tr th:each="item : ${items}">
        <a th:href="${item.getUrl()}">
            <br th:text="${item.getUrl()}">
            <br th:text="${item.getTitle()}">
            <br th:text="${message}">
        </a>
    </tr>
</div>
<form method="get">
    <p>
        <input type="submit" value="Back" onclick="form.action='/index';">
    </p>
</form>
</body>
</html>